.input {
  padding: 10px;
  width: 90%;
  border: 1px solid #ececec;
  border-radius: 2px;
  margin: 2% 0% 2% 0%;
}
.resultInput {
  margin-bottom: 5%;
}
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.colorContent {
  color: red;
}
.calculate {
  background: blue;
  color: white;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 10px;
  width: 95%;
}

@media (max-width: 900px) {
  .calculate {
    width: 95%;
  }
}
